
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
DevDiaryV2.doc
Projekt1_river_ride_v_6.rar
Projekt1_river_ride_remake_v7_5.rar
RiverRideRemake.pck
game/River Ride The Goat Edition.pck
game/HTML5/
game/game.rar
game/android/River Ride The Goat Edition.apk
River Ride The Goat Edition_original.pck
River Raid The Goat Edition.mp4
